
/* 1 -Alinhar conteúdo dentro da página 
   2 -Colocar cor de fundo da página
 */
 body{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 1 - Determinar as dimensões do quadrado
   2 - Colocar cor de fundo
   3 - Distância entre os quadrados
   4 - Centralizar o elemento */
.quadrado{
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    background: #333;
    margin: 20px;
    position: relative;
    flex-direction: column;
    top: 350px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
}

.circulo{
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangulo{
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f45b69;
}

.paralelograma{
    width: 100px;
    height: 50px;
    margin: 20px;
    transform: skew(15deg);
    background: red;
}

.diamante{
    width: 100px;
    height: 100px;
    margin: 20px;
    transform: rotate(45deg);
    background: #f45b69;
}   